<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <title>Reservation</title>

<link href="{{ url_for('static', filename='css/font-face.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/wow/animate.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/slick/slick.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='css/font-face.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/wow/animate.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/slick/slick.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">
<link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <img src="static/images/icon/logo.png" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="static/images/icon/logo.png"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub"><a class="js-arrow" href="/"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                        <li><a href="/ordertable"><i class="fas fa-chart-bar"></i>Order</a></li>
                        <li><a href="/reservation"><i class="fas fa-table"></i><strong>Reservation</strong></a></li>
                        <li><a href="/menu"><i class="far fa-check-square"></i>Menu</a></li>
                        <li><a href="/blog"><i class="fas fa-map-marker-alt"></i>Blogs</a></li>
                        <li><a href="/feedback">Feedback/Complains</a></li>
                        <li><a href="/staff"><i class="fa-solid fa-users-line"></i>Staff</a></li>
                    </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                        <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity" >{{totalFeedComp}}</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>New Feedback & Complains</p>
                                            </div>
                                            {% for c in notiData%}
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="static/images/icon/avatar-07.jpg" alt="Customer Profile Picture" />
                                                </div>
                                                <div class="content">
                                                    <p>{{c[0]}}</p>
                                                    <span>{{c[1]}} on {{c[2]}} at {{c[3]}} </span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="email__footer">
                                                <a href="#">See all notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity"></span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>Orders Notifications</p>
                                            </div>
                                            {% for o in order%}
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>{{o[0]}}</p>
                                                    <span class="date">Ph: {{o[1]}}</span>
                                                    <span class="date">{{o[2]}} at {{o[3]}}</span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="notifi__footer">
                                                <a href="#">See all Orders</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src={{dp}} alt={{username}} />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{username}}</a>
                                            <input type="hidden" id="admin_id" value={{admin_id}}>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{dp}}" alt={{username}} />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{username}}</a>
                                                    </h5>
                                                    <span class="email">{{email}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/updateAdminAccount"><i class="zmdi zmdi-account"></i>Update Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/registerAdminAccount"><i class="fa fa-edit"></i>Register</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#" id="deleteAccountLink"><i class="fa fa-power-off"></i>Delete Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/loginAdminAccount"><i class="fa fa-plus-circle"></i>Login to Another Account</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout"><i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Reservation Conflicts</h1>
                                  <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>name</th>
                                                <th>reservation date</th>
                                                <th>reservation time</th>
                                                <th>No.of people</th>
                                                <th>special request</th>
                                                <th>email</th>
                                                <th>phone</th>
                                                <th>date</th>
                                                <th>time</th>
                                                <th>status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for od in resDetailsList%}
                                            <tr>
                                                <td style="display:none;" class="res_id">{{od[0]}}</td>
                                                <td>{{od[1]}}</td>
                                                <td>{{od[2]}}</td>
                                                <td>{{od[3]}}</td>
                                                <td>{{od[4]}}</td>
                                                <td>{{od[5]}}</td>
                                                <td>{{od[6]}}</td>
                                                <td>{{od[7]}}</td>
                                                <td>{{od[8]}}</td>
                                                <td>{{od[9]}}</td>
                                                <td>
                                                    <a href="#" class="acceptRes">Accept</a>
                                                    <a href="#" class="cancelRes">Reject</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                      <h1>Accepted Reservations</h1>
                                  <div class="col-lg-12">
                                      <div class="table-responsive table--no-card m-b-30">
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                <th>name</th>
                                                <th>reservation date</th>
                                                <th>reservation time</th>
                                                <th>No.of people</th>
                                                <th>special request</th>
                                                <th>email</th>
                                                <th>phone</th>
                                                <th>date</th>
                                                <th>time</th>
                                                <th>status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for od in customerDetailsList %}
                                                <tr>
                                                    <td style="display:none;">{{od[0]}}</td>
                                                    <td>{{od[1]}}</td>
                                                    <td>{{od[2]}}</td>
                                                    <td>{{od[3]}}</td>
                                                    <td>{{od[4]}}</td>
                                                    <td>{{od[5]}}</td>
                                                    <td>{{od[6]}}</td>
                                                    <td>{{od[7]}}</td>
                                                    <td>{{od[8]}}</td>
                                                    <td>{{od[9]}}</td>
                                                    <td><strong>{{od[10]}}</strong> </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                  </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!--MODAL-->
    <div class="modal fade" id="reasonForReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Rejected Reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <p><strong>To: </strong><span id="customerEmail"></span></p>
                        <p><strong>From: </strong> Thevenueresturant@gmail.com</p>
                        <p><strong>About: </strong> Reservation Rejection</p>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Reason: </span>
                            </div>
                                <input type="text" id="reason" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="emailSend">Send Mail</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script>
    $(document).ready(function(){
      $(document).on('click', '.acceptRes', function() {
        var row = $(this).closest('tr');
        var res_id = row.find('.res_id').text();
            $.ajax({
                type:'PUT',
                url:'/resAccepted/'+ res_id,
                success:function(res){
                    console.log(res);
                    window.location.href = '/reservation'
                },
            });
        });

        $(document).on('click','.cancelRes',function(){
            var row = $(this).closest('tr');
            var res_id = row.find('.res_id').text();
                $.ajax({
                type:'PUT',
                url:'/resRejected/'+ res_id,
                success:function(res){
                    console.log(res);
                     $('#customerEmail').text(res.email);
                     $('#reasonForReject').modal('show');
                },
            });
        });

        $('#emailSend').on('click', function(e){
            e.preventDefault();

            email = $('#customerEmail').text();
            reason = $("#reason").val();

            console.log(email, reason);

            var formdata = new FormData()
            formdata.append('email',email);
            formdata.append('reason',reason);

                $.ajax({
                    type: 'POST',
                    url:'/send_email',
                    data: formdata,
                    contentType: false,
                    processData: false,
                    success: function(res){
                        console.log(res);
                        window.location.href = '/reservation'
                    },
                });
        });

    });

</script>
<!-- Jquery JS-->
<script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap JS-->
<script src="{{ url_for('static', filename='vendor/bootstrap-4.1/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.js') }}"></script>
<!-- Vendor JS -->
<script src="{{ url_for('static', filename='vendor/slick/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/animsition/animsition.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/counter-up/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/counter-up/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chartjs/Chart.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>

<!-- Main JS-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- Main JS-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
<!-- end document-->
